<template>
  <v-toolbar-title style="cursor: pointer" @click="toHome">
    <span>{{ $t("app.shortName") }}</span>
  </v-toolbar-title>
</template>

<script>
export default {
  name: "AppBarTitle",
  methods: {
    toHome() {
      if (this.$route.name != "home") this.$router.push("/");
    },
  },
};
</script>
