<template>
  <v-app-bar-nav-icon @click.stop="toggleDrawer" />
</template>

<script>
export default {
  name: "AppBarNavIcon",
  methods: {
    toggleDrawer() {
      this.$store.commit("toggleDrawer");
    },
  },
};
</script>
