<template>
  <div>
    <span class="hidden-xs-only">
      <FunctionPopup />
      <v-btn @click="toggleDark" icon>
        <v-icon>mdi-invert-colors</v-icon>
      </v-btn>
      <v-btn @click="toggleColorShow" icon>
        <v-icon>mdi-palette</v-icon>
      </v-btn>
      <v-btn @click="toggleLanguage" icon>
        <v-icon>mdi-translate</v-icon>
      </v-btn>
    </span>

    <span class="d-flex d-sm-none">
      <v-menu>
        <template v-slot:activator="{ attrs, on }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-horizontal</v-icon>
          </v-btn>
        </template>
        <v-list flat>
          <v-list-item-group>
            <v-list-item @click="toggleDark">
              <v-list-item-icon>
                <v-icon>mdi-invert-colors</v-icon>
              </v-list-item-icon>
              <v-list-item-content>{{
                $t("app.switchThemeMode")
              }}</v-list-item-content>
            </v-list-item>
            <v-list-item @click="toggleColorShow">
              <v-list-item-icon>
                <v-icon>mdi-palette</v-icon>
              </v-list-item-icon>
              <v-list-item-content>{{
                $t("app.switchThemeColor")
              }}</v-list-item-content>
            </v-list-item>
            <v-list-item @click="toggleLanguage">
              <v-list-item-icon>
                <v-icon>mdi-translate</v-icon>
              </v-list-item-icon>
              <v-list-item-content>{{
                $t("app.switchLanguage")
              }}</v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </span>
  </div>
</template>

<script>
import FunctionPopup from "@/components/layout/AppBarComponents/FunctionPopup";

export default {
  name: "AppBarActions",
  components: {
    FunctionPopup,
  },
  methods: {
    toggleDark() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.dark = this.$vuetify.theme.dark;
    },
    toggleColorShow() {
      this.$store.commit("updateColor", !this.$store.state.colorShow);
    },
    toggleLanguage() {
      localStorage.language === "zh"
        ? (localStorage.language = "en")
        : (localStorage.language = "zh");
      this.$i18n.locale = localStorage.language;
      this.Bus.$emit("setSnackbar", this.$i18n.t("snackbar.switchLanguage"));
    },
  },
};
</script>
