<template>
  <v-menu :close-on-content-click="false" offset-y :nudge-width="200">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-text>
        <v-row align="center" justify="center">
          <v-col
            class="ms-1 me-1"
            v-for="app in apps"
            :key="app.name"
            cols="3"
            @click="redirectTo(app.url)"
            v-ripple="{ class: 'primary--text' }"
            style="cursor: pointer"
          >
            <v-row align="center" justify="center">
              <v-icon x-large>mdi-{{ app.logo }}</v-icon>
            </v-row>
            <v-row align="center" justify="center">
              {{ app.name }}
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-menu>
</template>
<script>
export default {
  data: () => ({
    apps: [
      {
        name: "主页",
        logo: "home",
        url: "https://lug.uestc.dev",
      },
      {
        name: "镜像站",
        logo: "download",
        url: "https://mirrors.uestc.cn",
      },
      {
        name: "Git",
        logo: "git",
        url: "https://git.uestclug.org",
      },
      {
        name: "报修系统",
        logo: "tools",
        url: "",
      },
      {
        name: "IPTV",
        logo: "television-classic",
        url: "",
      },
    ],
  }),
  methods: {
    redirectTo: function (url) {
      window.open(url, "_blank");
    },
  },
};
</script>
