<template>
  <div class="text-center">
    <v-spacer />
    <v-progress-circular value="50" color="primary" indeterminate size="200" />
    <div class="text-h3 mt-6">Loading...</div>
    <v-spacer />
  </div>
</template>
