<template>
  <v-app-bar elevate-on-scroll color="primary" :dark="true" app>
    <AppBarNavIcon />
    <AppBarTitle />
    <v-spacer />
    <Search />
    <v-spacer />
    <AppBarActions />
  </v-app-bar>
</template>
<script>
import AppBarNavIcon from "@/components/layout/AppBarComponents/AppBarNavIcon";
import AppBarTitle from "@/components/layout/AppBarComponents/AppBarTitle";
import Search from "@/components/layout/AppBarComponents/Search";
import AppBarActions from "@/components/layout/AppBarComponents/AppBarActions";
export default {
  name: "AppBar",
  components: {
    AppBarNavIcon,
    AppBarTitle,
    Search,
    AppBarActions,
  },
};
</script>
