<template>
  <v-navigation-drawer v-model="drawerState" app>
    <v-list>
      <v-list-item class="pl-2">
        <v-list-item-content>
          <v-row no-gutters>
            <v-col cols="2">
              <v-img :src="logo" contain max-width="90%" />
            </v-col>
            <v-col>
              <v-list-item-title
                class="title"
                @click="toHome"
                style="cursor: pointer"
              >
                {{ $t("app.shortName") }}
              </v-list-item-title>
              <v-list-item-subtitle>{{
                $t("app.subTitle")
              }}</v-list-item-subtitle>
            </v-col>
          </v-row>
        </v-list-item-content>
      </v-list-item>

      <v-divider />

      <v-list-item to="/" color="primary">
        <v-list-item-icon>
          <v-icon>mdi-home</v-icon>
        </v-list-item-icon>

        <v-list-item-title>{{ $t("app.home") }}</v-list-item-title>
      </v-list-item>

      <v-list-group prepend-icon="mdi-linux" v-if="linuxloaded">
        <template v-slot:activator>
          <v-list-item-title>
            {{ $t("app.linuxDistribution") }}
          </v-list-item-title>
        </template>

        <v-list-item
          v-for="(dist, i) in repo.linux"
          :key="i"
          :to="'/repo' + dist['url']"
          link
        >
          <v-list-item-icon>
            <v-icon v-text="'mdi-' + checkicon(dist['icon'])"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="dist['name']"></v-list-item-title>
        </v-list-item>
      </v-list-group>

      <v-list-group prepend-icon="mdi-application" v-if="apploaded">
        <template v-slot:activator>
          <v-list-item-title>{{ $t("app.application") }}</v-list-item-title>
        </template>

        <v-list-item
          v-for="(dist, i) in repo.app"
          :key="i"
          :to="'/app' + dist['url']"
          link
        >
          <v-list-item-icon>
            <v-icon v-text="'mdi-' + checkicon(dist['icon'])"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="dist['name']"></v-list-item-title>
        </v-list-item>
      </v-list-group>

      <v-list-group
        prepend-icon="mdi-package-variant-closed"
        v-if="othersloaded"
      >
        <template v-slot:activator>
          <v-list-item-title>{{ $t("app.other") }}</v-list-item-title>
        </template>

        <v-list-item
          v-for="(dist, i) in repo.other"
          :key="i"
          :to="'/other' + dist['url']"
          link
        >
          <v-list-item-icon>
            <v-icon v-text="'mdi-' + checkicon(dist['icon'])"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="dist['name']"></v-list-item-title>
        </v-list-item>
      </v-list-group>
    </v-list>
    <template v-slot:append>
      <v-list-group prepend-icon="mdi-dots-horizontal">
        <template v-slot:activator>
          <v-list-item-title>{{ $t("app.more") }}</v-list-item-title>
        </template>

        <v-list-item to="/status">
          <v-list-item-icon>
            <v-icon>mdi-information</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t("app.status") }}</v-list-item-title>
        </v-list-item>
        <v-list-item to="/downloadiso">
          <v-list-item-icon>
            <v-icon>mdi-album</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t("app.downloadISO") }}</v-list-item-title>
        </v-list-item>
        <v-list-item to="/browse">
          <v-list-item-icon>
            <v-icon>mdi-folder</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t("app.viewBrowse") }}</v-list-item-title>
        </v-list-item>
      </v-list-group>
      <v-divider />
      <v-footer>
        <span class="font-weight-light">Release v{{ version }}</span>
        <v-spacer />
        <AboutView />
      </v-footer>
    </template>
  </v-navigation-drawer>
</template>
<script>
import AboutView from "@/components/modal/AboutView";
import logo from "@/assets/logo.png";

export default {
  components: {
    AboutView,
  },
  data: () => ({
    version: process.env.VUE_APP_VERSION_CODE,
    logo: logo,
  }),
  methods: {
    checkicon: function (icon) {
      if (typeof icon != "undefined") {
        return icon;
      } else {
        return "package-variant-closed";
      }
    },
    toHome() {
      if (this.$route.name != "home") this.$router.push("/");
    },
  },
  computed: {
    loaded: function () {
      return this.$store.state.repoinfo !== null;
    },
    linuxloaded: function () {
      if (this.loaded) if (this.repo.linux.length != 0) return true;
      return false;
    },
    apploaded: function () {
      if (this.loaded) if (this.repo.app.length != 0) return true;
      return false;
    },
    othersloaded: function () {
      if (this.loaded) if (this.repo.other.length != 0) return true;
      return false;
    },
    repo: function () {
      return this.$store.state.repoinfo;
    },
    drawerState: {
      get() {
        return this.$store.state.drawerShow;
      },
      set(val) {
        return this.$store.commit("updateDrawer", val);
      },
    },
  },
};
</script>

<style scoped>
.v-navigation-drawer {
  height: -webkit-fill-available !important;
}
</style>
