<template>
  <div>
    <MainAppBar />
    <v-main>
      <v-container fluid>
        <v-row>
          <v-col cols="12">
            <v-list subheader class="mx-auto" dense v-if="dists != null">
              <v-subheader class="ml-4">
                {{ $t("app.application") }}
              </v-subheader>

              <v-list-item
                v-for="item in dists.app"
                :key="item.name"
                @click="gotoDir('/' + item.url)"
              >
                <v-list-item-avatar>
                  <v-icon>mdi-folder</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title v-text="item.name"></v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <v-btn icon :to="'/app' + item.url">
                    <v-icon color="grey lighten-1">mdi-information</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>

              <v-divider></v-divider>

              <v-subheader class="ml-4">
                {{ $t("app.linuxDistribution") }}
              </v-subheader>

              <v-list-item
                v-for="item in dists.linux"
                :key="item.name"
                @click="gotoDir(item.url)"
              >
                <v-list-item-avatar>
                  <v-icon>mdi-folder</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title v-text="item.name"></v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <v-btn icon :to="'/repo' + item.url">
                    <v-icon color="grey lighten-1">mdi-information</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
import MainAppBar from "@/components/layout/MainAppBar";

export default {
  name: "browse",
  components: { MainAppBar },
  computed: {
    dists: function () {
      return this.$store.state.repoinfo;
    },
  },
  methods: {
    gotoDir: function (dir) {
      window.location.href =
        (this.$store.state.baseURL == process.env.VUE_APP_MIRROR_URL
          ? process.env.VUE_APP_MIRROR_URL
          : this.$store.state.baseURL) + dir;
    },
  },
};
</script>
<style lang="scss" scoped></style>
