<template>
  <div>
    <MainAppBar />
    <v-main>
      <v-container fluid>
        <v-card>
          <v-card-text>
            <v-layout>
              <v-row align="center" justify="center">
                <v-btn icon large>
                  <v-icon large>mdi-selection-off</v-icon> </v-btn
                ><span>{{ $t("notFound.text") }}</span>
              </v-row>
            </v-layout>
          </v-card-text>
          <v-divider />
        </v-card>
      </v-container>
    </v-main>
    <Footer />
  </div>
</template>

<script>
import MainAppBar from "@/components/layout/MainAppBar";
import Footer from "@/components/layout/Footer";

export default {
  components: {
    MainAppBar,
    Footer,
  },
};
</script>
