<template>
  <div>
    <StatusAppBar>
      <template v-slot:tab>
        <v-tabs
          show-arrows
          align-with-title
          center-active
          background-color="primary"
          v-model="tab"
        >
          <v-tab href="#tab-server">{{ $t("status.server") }}</v-tab>
          <v-tab href="#tab-sync">{{ $t("status.sync") }}</v-tab>
        </v-tabs>
      </template>
    </StatusAppBar>
    <v-main>
      <v-container fluid>
        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-server">
            <v-row>
              <v-col cols="12">
                <StatusServerDisk />
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <StatusServerTraffic />
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <StatusServerCPU />
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <StatusServerMemory />
              </v-col>
            </v-row>
          </v-tab-item>
          <v-tab-item value="tab-sync">
            <v-card>
              <StatusSync />
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-container>
    </v-main>
  </div>
</template>

<script>
import StatusAppBar from "@/components/Status/StatusAppBar";
import StatusSync from "@/components/Status/StatusSync";
import StatusServerTraffic from "@/components/Status/StatusServerTraffic";
import StatusServerDisk from "@/components/Status/StatusServerDisk";
import StatusServerMemory from "@/components/Status/StatusServerMemory";
import StatusServerCPU from "@/components/Status/StatusServerCPU";

export default {
  name: "status",
  components: {
    StatusAppBar,
    StatusSync,
    StatusServerTraffic,
    StatusServerDisk,
    StatusServerMemory,
    StatusServerCPU,
  },
  data: () => ({
    tab: "tab-server",
  }),
  mounted: function () {
    if (typeof this.$route.params.tab != "undefined") {
      this.tab = "tab-" + this.$route.params.tab;
    }
  },
};
</script>

<style lang="scss" scoped></style>
