<template>
  <div>
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-actions>
          <v-btn
            text
            small
            @click="newsIndex += 1"
            :disabled="newsIndex == newsItem.length - 1"
          >
            <v-icon small>mdi-arrow-left</v-icon>
            <span class="d-none d-sm-flex">
              {{
                newsItem.length > newsIndex + 1
                  ? 15 >= newsItem[newsIndex + 1].title.length
                    ? newsItem[newsIndex + 1].title
                    : newsItem[newsIndex + 1].title.substring(0, 15) + "..."
                  : $t("newsDialog.previousNotFound")
              }}
            </span>
            <span class="d-flex d-sm-none">
              {{
                newsItem.length > newsIndex + 1
                  ? 15 >= newsItem[newsIndex + 1].title.length
                    ? newsItem[newsIndex + 1].title
                    : newsItem[newsIndex + 1].title.substring(0, 15) + "..."
                  : $t("newsDialog.previousNotFoundShort")
              }}
            </span>
          </v-btn>
          <v-spacer />
          <v-btn text small @click="newsIndex -= 1" :disabled="newsIndex == 0">
            <span class="d-none d-sm-flex">
              {{
                newsIndex != 0
                  ? 15 >= newsItem[newsIndex - 1].title.length
                    ? newsItem[newsIndex - 1].title
                    : newsItem[newsIndex - 1].title.substring(0, 15) + "..."
                  : $t("newsDialog.nextNotFound")
              }}
            </span>
            <span class="d-flex d-sm-none">
              {{
                newsIndex != 0
                  ? 15 >= newsItem[newsIndex - 1].title.length
                    ? newsItem[newsIndex - 1].title
                    : newsItem[newsIndex - 1].title.substring(0, 15) + "..."
                  : $t("newsDialog.nextNotFoundShort")
              }}
            </span>
            <v-icon small>mdi-arrow-right</v-icon>
          </v-btn>
        </v-card-actions>
        <div style="user-select: text">
          <v-card-title class="pt-2">{{
            newsItem[newsIndex].title
          }}</v-card-title>
          <v-card-subtitle>{{ newsItem[newsIndex].time }}</v-card-subtitle>
          <v-card-text>
            <MarkdownIt :content="newsItem[newsIndex].desc" />
          </v-card-text>
        </div>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn text @click="dialog = false" color="primary">
            {{ $t("newsDialog.close") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import MarkdownIt from "@/components/modal/MarkdownIt.vue";

export default {
  name: "NewsDialog",
  components: {
    MarkdownIt,
  },
  data: () => ({
    dialog: false,
    newsItem: [
      {
        title: "",
        time: "",
        desc: "",
      },
    ],
    newsIndex: 0,
    newsCount: 0,
  }),
  mounted() {
    this.Bus.$on("openNewsDialog", (msg) => {
      if (this.newsCount == 0) {
        this.newsItem = msg.newsList;
        this.newsCount = msg.newsList.length;
      }
      this.newsIndex = msg.index;
      this.dialog = true;
    });
  },
};
</script>
