<template>
  <v-snackbar
    bottom
    v-model="snackbar"
    color="primary"
    dark
    :timeout="snackbarTimeOut"
  >
    {{ snackbarText }}
    <template v-slot:action="{ attrs }">
      <v-btn text v-bind="attrs" @click="snackbar = false">
        {{ $t("close") }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: "Snackbar",
  data: () => ({
    snackbar: false,
    snackbarText: "",
    snackbarTimeOut: 1500,
  }),
  mounted() {
    this.Bus.$on("setSnackbar", (msg) => {
      // 弹出显示 msg 内容的 snackbar
      this.snackbarText = msg;
      this.snackbar = true;
    });
  },
};
</script>
