<template>
  <v-col cols="12" md="6" lg="4" sm="6">
    <v-hover>
      <template v-slot="{ hover }">
        <v-card
          style="overflow: hidden"
          class="transition-swing rounded-lg"
          :class="`elevation-${hover ? 4 : 1}`"
          @click.stop="card_click"
          @mouseenter="card_active = true"
          @mouseleave="card_active = false"
          :disabled="is_failed"
          :id="'infocard-' + dist.name"
          :loading="loading"
          outlined
        >
          <v-icon large class="dashboard-icon">mdi-{{ icon }}</v-icon>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4" style="flex: unset">
                {{ disttype }}
              </div>
              <v-spacer style="flex: unset" />
              <v-icon
                v-if="card_active"
                style="flex: unset"
                class="mb-4"
                color="grey"
                @click.stop="toggle"
                >mdi-information</v-icon
              >

              <v-list-item-title class="headline mb-1"
                >&nbsp;
                {{ dist.name ? dist.name : dist.cname }}</v-list-item-title
              >
              <v-list-item-subtitle>{{ statusInfo }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-overlay
            absolute
            :value="active"
            @click.stop="toggle"
            opacity="0.8"
          >
            <v-row>
              <v-col cols="6" class="text-center">
                <v-btn color="success" fab @click.stop="gotolink">
                  <v-icon>mdi-book</v-icon>
                </v-btn>
                <p class="mt-2 mb-0">查看文档</p>
              </v-col>
              <v-col cols="6" class="text-center">
                <v-btn color="primary" fab @click.stop="gotofolder">
                  <v-icon>mdi-folder</v-icon>
                </v-btn>
                <p class="mt-2 mb-0">浏览文件</p>
              </v-col>
            </v-row>
          </v-overlay>
        </v-card>
      </template>
    </v-hover>
  </v-col>
</template>
<script>
import { DateParser } from "@/utils/DateUtil";

export default {
  props: ["dist", "active", "toggle"],
  data: () => ({
    card_active: false,
  }),
  methods: {
    gotofolder: function () {
      window.location.href =
        (this.$store.state.baseURL == process.env.VUE_APP_MIRROR_URL
          ? process.env.VUE_APP_MIRROR_URL
          : this.$store.state.baseURL) + this.dist.url;
    },
    gotolink: function () {
      if (this.dist.type == "linux") this.$router.push("/repo" + this.dist.url);
      if (this.dist.type == "app") this.$router.push("/app" + this.dist.url);
    },
    card_click: function () {
      if (this.active) {
        this.toggle();
        return;
      } else {
        this.gotolink();
      }
    },
  },
  computed: {
    is_failed: function () {
      if (this.dist.status != null) return this.dist.status[0] === "F";
      else return false;
    },
    icon: function () {
      if (typeof this.dist.icon != "undefined") {
        return this.dist.icon;
      } else {
        return "package-variant-closed";
      }
    },
    statusInfo: function () {
      if (this.dist.status != null) {
        if (this.dist.status[0] === "S") {
          var rawDate = this.dist.status.substring(1);
          var updateDate = new Date(rawDate * 1000);
          return this.$i18n.t("distInfo.updateDate") + DateParser(updateDate);
        }
        if (this.dist.status[0] === "F") {
          return this.$i18n.t("distInfo.updateFailed");
        }
        if (this.dist.status[0] === "Y") {
          return this.$i18n.t("distInfo.updating");
        }
      }
      return this.$i18n.t("distInfo.refresh");
    },
    loading: function () {
      if (this.dist.status != null) {
        if (this.dist.status[0] === "Y") {
          return true;
        }
        if (this.dist.status[0] === "F") {
          return "error";
        }
      }
      return false;
    },
    disttype: function () {
      if (typeof this.dist.type != "undefined") {
        if (this.dist.type === "app") {
          return this.$i18n.t("app.application");
        }
        if (this.dist.type === "linux") {
          return this.$i18n.t("app.linuxDistribution");
        }
        return this.$i18n.t("unknown");
      } else {
        return this.$i18n.t("unknown");
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.dashboard-icon {
  position: absolute !important;
  right: 0;
  bottom: -10px;
  font-size: 100px !important;
  opacity: 0.25;
}
</style>
