<template>
  <div>
    <v-subheader>{{ $t("app.moreActions") }}</v-subheader>
    <v-row>
      <v-col cols="auto" class="pr-0">
        <v-btn color="primary" class="ml-4" large outlined to="browse">
          <v-icon left>mdi-folder</v-icon>
          {{ $t("app.viewBrowse") }}
        </v-btn>
      </v-col>
      <v-col cols="auto" class="mr-4">
        <v-btn color="primary" class="ml-4" large outlined to="downloadiso">
          <v-icon left>mdi-album</v-icon>
          {{ $t("app.downloadISO") }}
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "MoreActions",
};
</script>
