<template>
  <v-row no-gutters>
    <v-col cols="12" md="8">
      <v-col
        style="user-select: text; cursor: default"
        class="d-flex align-self-start"
      >
        <v-card width="100%" elevation="2" class="rounded-lg" outlined>
          <v-card-title class="headline justify-center pt-8">{{
            $t("app.fullName")
          }}</v-card-title>
          <v-card-text class="text-center pb-8">
            <div class="pb-1">
              <i18n path="app.mainIntro">
                <span place="uestcLug">{{ $t("uestcLug") }}</span>
                <span place="uestcNU">{{ $t("uestcNU") }}</span>
              </i18n>
            </div>
            <div>
              <i18n path="app.subIntro">
                <b place="linuxCount">{{ dists.linux.length }}</b>
                <span place="linuxDistribution">{{
                  $t("app.linuxDistribution")
                }}</span>
                <b place="appCount">{{ dists.app.length }}</b>
                <span place="application">{{ $t("app.application") }}</span>
              </i18n>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="pt-0">
        <v-item-group v-model="selected">
          <v-row>
            <v-item
              v-for="repo_item in merged_dists"
              :key="repo_item.id"
              v-slot:default="{ active, toggle }"
            >
              <DistInfo :dist="repo_item" :active="active" :toggle="toggle" />
            </v-item>
          </v-row>
        </v-item-group>
      </v-col>
    </v-col>
    <v-col cols="12" md="4">
      <v-col>
        <NewsView />
      </v-col>
    </v-col>
  </v-row>
</template>
<script>
import NewsView from "@/components/Home/NewsView";
import DistInfo from "@/components/Home/DistInfo";

export default {
  components: {
    NewsView,
    DistInfo,
  },
  data: () => ({
    selected: null,
    status: null,
  }),
  computed: {
    merged_dists: function () {
      var ret = [];
      if (this.dists != null) {
        for (const [group, groupvalue] of Object.entries(this.dists)) {
          ret = ret.concat(groupvalue);
        }
        return ret;
      } else return ret;
    },
    dists: function () {
      return this.$store.state.repoinfo;
    },
  },
};
</script>
