<template>
  <v-card class="mx-4">
    <v-progress-linear
      color="primary"
      height="50"
      :dark="disk_usage.used / disk_usage.total > 0.5"
      :value="(disk_usage.used / disk_usage.total) * 100"
      striped
    >
      <template v-slot:default="{ value }">
        <strong
          >存储空间：
          {{
            Math.round((100 * disk_usage.used) / 1024 / 1024 / 1024 / 1024) /
            100
          }}
          TB /
          {{
            Math.round((100 * disk_usage.total) / 1024 / 1024 / 1024 / 1024) /
            100
          }}
          TB ({{ Math.ceil(value) }}%)</strong
        >
      </template>
    </v-progress-linear>
  </v-card>
</template>

<script>
export default {
  computed: {
    disk_usage: function () {
      return this.$store.state.mirrorinfo.disk_usage;
    },
  },
};
</script>
