<template>
  <v-card class="mx-auto text-center" color="green" dark>
    <v-card-text>
      <v-sheet color="rgba(0, 0, 0, .12)">
        <v-sparkline
          :value="[1, 1, 4, 5, 1, 4, 1, 9, 1, 9, 8, 1, 0]"
          color="rgba(255, 255, 255, .7)"
          height="50"
          padding="12"
          stroke-linecap="round"
          smooth
        >
          <template v-slot:label="item"> {{ item.value }} G </template>
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <div class="text-h5">数据是假的，哪有这么好看 Gb/s</div>
      <div class="text-h6">网络流量</div>
    </v-card-text>
  </v-card>
</template>
