<template>
  <v-card class="mx-auto text-center" color="blue" dark>
    <v-card-text>
      <v-sheet color="rgba(0, 0, 0, .12)">
        <v-sparkline
          :value="[10, 10, 40, 50, 10, 40, 10, 90, 10, 90, 80, 10, 0]"
          color="rgba(255, 255, 255, .7)"
          height="50"
          padding="12"
          stroke-linecap="round"
          smooth
        >
          <template v-slot:label="item"> {{ item.value }} GB </template>
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <div class="text-h5">数据是假的，哪有这么好看 GBytes</div>
      <div class="text-h6">内存占用</div>
    </v-card-text>
  </v-card>
</template>
