<template>
  <v-data-table
    :headers="header"
    disable-pagination
    hide-default-footer
    :items="merged_dists"
  >
    <template v-slot:item.status="{ item }">
      <v-chip :color="getLabel(item.status).color" dark>
        {{ getLabel(item.status).text }}
      </v-chip>
    </template>
    <template v-slot:item.synctime="{ item }">
      {{ DateParser(new Date(item.status.substring(1) * 1000)) }}
    </template>
    <template v-slot:item.actions="{ item }">
      <v-btn icon color="default" :href="$store.state.baseURL + item.url"
        ><v-icon>mdi-folder</v-icon></v-btn
      >
    </template>
  </v-data-table>
</template>

<script>
import { DateParser } from "@/utils/DateUtil";

export default {
  methods: {
    getLabel(i) {
      switch (i[0]) {
        case "S":
          return { color: "success", text: "同步完成" };
        case "Y":
          return { color: "info", text: "同步中" };
        case "F":
          return { color: "error", text: "同步失败" };
        default:
          return { color: "default", text: "未有同步" };
      }
    },
  },
  computed: {
    merged_dists: function () {
      var ret = [];
      if (this.dists != null) {
        for (const [group, groupvalue] of Object.entries(this.dists)) {
          ret = ret.concat(groupvalue);
        }
        return ret;
      } else return ret;
    },
    dists: function () {
      return this.$store.state.repoinfo;
    },
  },
  data: () => ({
    DateParser: DateParser,
    header: [
      {
        text: "名称",
        align: "start",
        value: "name",
      },
      {
        text: "状态",
        value: "status",
      },
      {
        text: "同步时间",
        value: "synctime",
      },
      { text: "操作", value: "actions", sortable: false },
    ],
  }),
};
</script>
