<template>
  <v-app-bar
    elevate-on-scroll
    color="primary"
    :dark="true"
    app
    shrink-on-scroll
    class="pt-1"
  >
    <AppBarNavIcon />
    <v-toolbar-title style="cursor: default">
      <v-icon class="mb-1">mdi-{{ repo.icon }}</v-icon
      >&nbsp;
      <span>{{ repo.name }}</span>
    </v-toolbar-title>
    <v-spacer />
    <Search class="mr-4" />
    <AppBarActions />
    <template v-slot:extension>
      <slot name="tabcontent" />
    </template>
  </v-app-bar>
</template>
<script>
import AppBarNavIcon from "@/components/layout/AppBarComponents/AppBarNavIcon";
import Search from "@/components/layout/AppBarComponents/Search";
import AppBarActions from "@/components/layout/AppBarComponents/AppBarActions";
export default {
  name: "AppBar",
  components: {
    AppBarNavIcon,
    Search,
    AppBarActions,
  },
  props: ["repo"],
  computed: {
    thisrepo: function () {
      if (this.$route.params.reponame != undefined) {
        return this.findRepos(this.$route.params.reponame);
      }
      return [];
    },
    thisapp: function () {
      if (this.$route.params.appname != undefined) {
        return this.findApp(this.$route.params.reponame);
      }
      return [];
    },
  },
};
</script>
