<template>
  <v-card-text>
    <v-skeleton-loader
      :loading="loading"
      transition="fade-transition"
      height="100vh"
      type="article"
    >
      <VueMarkdown
        class="mdtext"
        v-if="!docerr"
        :source="mdtext"
        @rendered="update"
      ></VueMarkdown>
      <v-layout v-if="docerr">
        <v-row align="center" justify="center">
          <v-icon left large>mdi-selection-off</v-icon>
          &nbsp;
          <span class="title">{{ $t("repo.docNotFound") }}</span>
          <v-btn depressed :href="src" class="ml-2 subtitle-1 primary">
            <v-icon left>mdi-folder</v-icon>
            <span>{{ $t("repo.viewDoc") }}</span></v-btn
          >
        </v-row>
      </v-layout>
    </v-skeleton-loader>
  </v-card-text>
</template>
<script>
import VueMarkdown from "vue-markdown";
import Prism from "prismjs";
import "prismjs/themes/prism-okaidia.css";
import "prismjs/components/prism-bash.min";
export default {
  data: () => ({
    loading: true,
    docerr: false,
    mdtext: null,
  }),
  props: ["doc", "src"],
  methods: {
    update: function () {
      this.$nextTick(() => {
        Prism.highlightAll();
      });
    },
    refreshDoc() {
      this.docerr = false;
      this.loading = true;
      this.$ajax
        .get("doc" + this.doc + ".md")
        .then((response) => (this.mdtext = response.data))
        .catch(() => {
          this.docerr = true;
        })
        .finally(() => (this.loading = false));
    },
  },
  watch: {
    doc() {
      this.mdtext = "";
      this.refreshDoc();
    },
  },
  mounted: function () {
    this.refreshDoc();
  },
  components: { VueMarkdown },
};
</script>
<style lang="scss">
.mdtext {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
    background-color: white;
  }
  pre {
    margin-bottom: 5px;
    // background-color: #fbe5e1;
    code {
      // -webkit-box-shadow: none !important;
      // box-shadow: none !important;
      // max-width: 100%;
      all: unset;
      padding-left: 0 !important;
    }
  }
  overflow: auto;
}
</style>
