<template>
  <v-app style="user-select: none">
    <NavigationDrawer app />
    <Loading v-if="!loaded" />
    <router-view v-if="loaded"></router-view>
    <ColorPicker app />
    <BackToTopFab />
    <Snackbar />
    <NewsDialog />
  </v-app>
</template>

<script>
import NavigationDrawer from "@/components/layout/NavigationDrawer";
import ColorPicker from "@/components/modal/ColorPicker";
import BackToTopFab from "@/components/layout/BackToTopFab";
import Snackbar from "@/components/modal/Snackbar";
import NewsDialog from "@/components/modal/NewsDialog";
import Loading from "@/components/layout/Loading";

import { GetBaseDir } from "@/utils/SubDir";

export default {
  name: "App",

  components: {
    NavigationDrawer,
    ColorPicker,
    BackToTopFab,
    Snackbar,
    NewsDialog,
    Loading,
  },
  created() {
    this.$ajax
      .get("/mirrorz.json?rnd=" + parseInt(Date.now() / 60000))
      .then((response) => {
        this.$store.commit("updateMirrorInfo", response.data);
      });
  },
  computed: {
    loaded: function () {
      return this.$store.state.repoinfo !== null;
    },
  },
  mounted() {
    if (localStorage.colortheme) {
      this.$vuetify.theme.themes.light.primary = localStorage.colortheme;
      this.$vuetify.theme.themes.dark.primary = localStorage.colortheme;
    }
    const dark = localStorage.dark;
    if (dark === "true") {
      this.$vuetify.theme.dark = true;
    } else if (dark === "false") {
      this.$vuetify.theme.dark = false;
    } else {
      if (
        // Auto set dark theme at night.
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        this.$vuetify.theme.dark = true;
      }
    }
    if (GetBaseDir() != "/")
      this.$store.commit(
        "updateBaseURL",
        window.location.origin + GetBaseDir().slice(0, -1)
      );
    if (typeof localStorage.devmode != "undefined") {
      this.$store.commit("updateDevMode", localStorage.devmode);
      if (typeof localStorage.baseURL != "undefined") {
        this.$store.commit("updateBaseURL", localStorage.baseURL);
      }
    }
    if (typeof localStorage.language != "undefined") {
      this.$i18n.locale = localStorage.language;
    } else {
      localStorage.language = "zh";
      this.$i18n.locale = localStorage.language;
    }
  },
};
</script>

<style>
html {
  overflow-y: auto;
}
</style>
